@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RECIPE APPLICATYN</h1>
    <p> 
We are cutting edge company that allows our clients to keep track of their favorite recipes in new and exciting ways.  Our tracking system is so revolutionary that it has the potential to change the world and allow ordinary citizens to access their recipes from anywhere in the world. What sets us apart from other recipe tracker sites out there is the ingenuity and brilliance of the company’s owners and what they plan to bring to the world of recipe tracking. We advise you to get ready for amazing!</p>
</div>
